<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-applied-job-heading" jhiTranslate="jobmatchApp.appliedJob.home.createOrEditLabel">Create or edit a Applied Job</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!appliedJob.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="appliedJob.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="appliedJob.createdBy" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                        [(ngModel)]="appliedJob.lastModifiedBy" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.lastModifiedBy?.dirty && editForm.controls.lastModifiedBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.lastModifiedBy?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.appliedJobFeedback" for="field_appliedJobFeedback">Applied Job Feedback</label>
                    <select class="form-control" name="appliedJobFeedback" [(ngModel)]="appliedJob.appliedJobFeedback" id="field_appliedJobFeedback" >
                        <option value="INSUFFICIENT">{{'jobmatchApp.AppliedJobFeedback.INSUFFICIENT' | translate}}</option>
                        <option value="FAIRLY_GOOD">{{'jobmatchApp.AppliedJobFeedback.FAIRLY_GOOD' | translate}}</option>
                        <option value="GOOD">{{'jobmatchApp.AppliedJobFeedback.GOOD' | translate}}</option>
                        <option value="EXCELLENT">{{'jobmatchApp.AppliedJobFeedback.EXCELLENT' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.candidate" for="field_candidate">Candidate</label>
                    <select class="form-control" id="field_candidate" name="candidate" [(ngModel)]="appliedJob.candidateId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id" *ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobmatchApp.appliedJob.jobOffer" for="field_jobOffer">Job Offer</label>
                    <select class="form-control" id="field_jobOffer" name="jobOffer" [(ngModel)]="appliedJob.jobOfferId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="jobOfferOption.id" *ngFor="let jobOfferOption of joboffers; trackBy: trackJobOfferById">{{jobOfferOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
