<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobmatchApp.jobOfferSkill.home.title">Job Offer Skills</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-job-offer-skill" [routerLink]="['/job-offer-skill/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobmatchApp.jobOfferSkill.home.createLabel">
            Create new Job Offer Skill
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="jobOfferSkills">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdBy"><span jhiTranslate="jobmatchApp.jobOfferSkill.createdBy">Created By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedBy"><span jhiTranslate="jobmatchApp.jobOfferSkill.lastModifiedBy">Last Modified By</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdDate"><span jhiTranslate="jobmatchApp.jobOfferSkill.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastModifiedDate"><span jhiTranslate="jobmatchApp.jobOfferSkill.lastModifiedDate">Last Modified Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="level"><span jhiTranslate="jobmatchApp.jobOfferSkill.level">Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="proficNumberOfYear"><span jhiTranslate="jobmatchApp.jobOfferSkill.proficNumberOfYear">Profic Number Of Year</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skillTagId"><span jhiTranslate="jobmatchApp.jobOfferSkill.skillTag">Skill Tag</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jobOfferId"><span jhiTranslate="jobmatchApp.jobOfferSkill.jobOffer">Job Offer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let jobOfferSkill of jobOfferSkills ;trackBy: trackId">
                <td><a [routerLink]="['/job-offer-skill', jobOfferSkill.id, 'view' ]">{{jobOfferSkill.id}}</a></td>
                <td>{{jobOfferSkill.createdBy}}</td>
                <td>{{jobOfferSkill.lastModifiedBy}}</td>
                <td>{{jobOfferSkill.createdDate | date:'medium'}}</td>
                <td>{{jobOfferSkill.lastModifiedDate | date:'medium'}}</td>
                <td jhiTranslate="{{'jobmatchApp.SkillLevelType.' + jobOfferSkill.level}}">{{jobOfferSkill.level}}</td>
                <td jhiTranslate="{{'jobmatchApp.ProficNumberOfYear.' + jobOfferSkill.proficNumberOfYear}}">{{jobOfferSkill.proficNumberOfYear}}</td>
                <td>
                    <div *ngIf="jobOfferSkill.skillTagId">
                        <a [routerLink]="['../skill-tag', jobOfferSkill.skillTagId , 'view' ]" >{{jobOfferSkill.skillTagId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="jobOfferSkill.jobOfferId">
                        <a [routerLink]="['../job-offer', jobOfferSkill.jobOfferId , 'view' ]" >{{jobOfferSkill.jobOfferId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/job-offer-skill', jobOfferSkill.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/job-offer-skill', jobOfferSkill.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'job-offer-skill', { outlets: { popup: jobOfferSkill.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="jobOfferSkills && jobOfferSkills.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
