<div class="row p-0">
    <div class="col-12" *ngIf="company">
         <div class="row">
           	<div class="col-sm-1">
           	    <img [src]="company.imageUrl | imageProfile: {role: 'ROLE_COMPANY'}" class="img-thumbnail rounded " alt="Avatar">
           	</div>
           	<div class="col-sm-11 text-left">
           		<h2><span *ngIf="company" class="font-weight-bold">{{company.companyName}}</span></h2>
           		<h6><span *ngIf="company.sectorDescription" style="color: gray;">{{company.sectorDescription}}</span></h6>
		    	<h6><span  *ngIf="company.city" style="color: gray;">{{company.city}}</span>
		    	<span  *ngIf="company.country" style="color: gray;">&middot; {{('jobmatchApp.Country.' + company.country) | translate}}</span></h6>
           	</div>
		 </div>
         <hr>
    </div>
</div>

<div>
	<h2 id="page-heading">
        <span jhiTranslate="jobmatchApp.project.home.title">Projects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-project" [routerLink]="['/project/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobmatchApp.project.home.createLabel">
            Create new Project
            </span>
        </button>
	</h2>

    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="projects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="title"><span jhiTranslate="jobmatchApp.project.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jobmatchApp.project.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="jobmatchApp.project.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="jobmatchApp.project.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="jobmatchApp.project.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects ;trackBy: trackId">
                <td>{{project.title}}</td>
                <td>{{project.shortDescription}}</td>
                <td jhiTranslate="{{'jobmatchApp.ProjectStatus.' + project.status}}">{{project.status}}</td>
                <td>{{project.startDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{project.endDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/project', project.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit" *ngIf="project.editAvailable"
                                [routerLink]="['/project', project.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" *ngIf="project.deleteAvailable"
                                [routerLink]="['/', 'project', { outlets: { popup: project.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="projects && projects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
