<div class="row p-0">
    <div class="col-12" *ngIf="company">
         <div class="row">
           	<div class="col-sm-1">
           	    <img [src]="company.imageUrl | imageProfile: {role: 'ROLE_COMPANY'}" class="img-thumbnail rounded " alt="Avatar">
           	</div>
           	<div class="col-sm-11 text-left">
           		<h2><span *ngIf="company" class="font-weight-bold">{{company.companyName}}</span></h2>
           		<h6><span *ngIf="company.sectorDescription" style="color: gray;">{{company.sectorDescription}}</span></h6>
		    	<h6><span  *ngIf="company.city" style="color: gray;">{{company.city}}</span>
		    	<span  *ngIf="company.country" style="color: gray;">&middot; {{('jobmatchApp.Country.' + company.country) | translate}}</span></h6>
           	</div>
		 </div>
         <hr>
    </div>
</div>

<div class="my-profile-main-container row justify-content-center">
  <div class="col-9">
  	<div class="card section shadow-sm">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-project-heading"> 
	            <span jhiTranslate="jobmatchApp.project.home.createLabel" *ngIf="!project.id">Create a Project</span>
	            <span jhiTranslate="jobmatchApp.project.home.editLabel" *ngIf="project.id">Edit a Project</span>
            </h2>
            
            <hr>
            <div>
                <jhi-alert-error></jhi-alert-error>
				
                <div class="row form-group">
                	<div class="col">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.title" for="field_title">Title</label>
	                    <input type="text" class="form-control" name="title" id="field_title"
	                        [(ngModel)]="project.title" required/>
	                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
	                        <small class="form-text text-danger"
	                        [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
	                        This field is required.
	                        </small>
	                    </div>
                    </div>
                </div>
                
                <div class="row form-group">
                	<div class="col">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.description" for="field_description">Description</label>
	                    <textarea class="form-control" name="description" id="field_description"
	                        [(ngModel)]="project.description" rows="6"></textarea>
                    </div>
                </div>
                <div class="row form-group">
	                 <div class="col-md-8">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.sector" for="companySector">Sector</label>
	                    <input id="companySector" name="companySector" type="text" class="form-control"
		                     	[ngbTypeahead]="searchCompanySector"
		                        (selectItem)="onSelectCompanySector($event)" #companySectorTypeahead="ngbTypeahead"
		                        (focus)="companySectorFocus$.next($event.target.value)" (click)="companySectorClick$.next($event.target.value)">
	                </div>
	                
	                <div class="col-md-4">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.status" for="field_status">Status</label>
	                    <select class="form-control" name="status" [(ngModel)]="project.status" id="field_status" >
	                        <option value="ACTIVE">{{'jobmatchApp.ProjectStatus.ACTIVE' | translate}}</option>
	                        <option value="ENDED">{{'jobmatchApp.ProjectStatus.ENDED' | translate}}</option>
	                    </select>
	                </div>
                </div>
                <div class="row form-group">
	                <div class="col-md-6">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.startDate" for="field_startDate">Start Date</label>
	                    <div class="input-group">
	                        <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="project.startDate"
	                        required/>
	                        <span class="input-group-append">
	                            <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
	                        </span>
	                    </div>
	                    <div [hidden]="!(editForm.controls.startDate?.dirty && editForm.controls.startDate?.invalid)">
	                        <small class="form-text text-danger"
	                        [hidden]="!editForm.controls.startDate?.errors?.required" jhiTranslate="entity.validation.required">
	                        This field is required.
	                        </small>
	                    </div>
	                </div>
	                
	                <div class="col-md-6">
	                    <label class="form-control-label" jhiTranslate="jobmatchApp.project.endDate" for="field_endDate">End Date</label>
	                    <div class="input-group">
	                        <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="project.endDate"
	                        />
	                        <span class="input-group-append">
	                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
	                        </span>
						</div>
						<div [hidden]="!invalidDates">
							<small class="form-text text-danger">
								Le date non sono coerenti
							</small>
						</div>
					</div>
	            </div>
            </div>
            <br>
            <div class="col">
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
